menu "UWA Jetski — Direct PWM Servos"
    config SERVO1_GPIO
        int "Servo 1 PWM GPIO"
        range 0 48
        default 1

    config SERVO2_GPIO
        int "Servo 2 PWM GPIO"
        range 0 48
        default 2
endmenu
